<!DOCTYPE html>
<style>
    body {
        font-family: Roboto;
        margin: auto;
    }


    header {
        margin: auto;
        display:flex;
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 50px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        height: 90px;
        position:fixed
    }

    .navbar {
        background-color: #fff;
        font-size: 24px;
        border-radius: 16px;
        margin: 20px;
        height: 90px;
    }
    .navbar-toggler {
        border: none !important;
        font-size: 1.25rem;
    }

        .navbar-toggler:focus, .btn-close:focus {
            box-shadow: none !important;
            outline: none !important;
        }


.nav-link{
    color: red;
    font-weight: 500;
    position: relative;

}
.nav-link:hover, .nav-link:active{
    color:#000;
}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
   height: 2px;
   background-color: green;
   visibility:hidden;
   transition: 0.3s ease-in-out;
}

        .nav-link:hover:before, .nav-link:active::before {
            width: 100%;
            visibility: visible;
        }
    

    .slider-kipa-menu {
        height: 100vh;
    /*     top: -90px;
        position: relative; */
    }

        .slider .list .item {
            position: absolute;
            inset: 0 0 0 0;
            overflow: hidden;
        }

            .slider .list .item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .slider .list .item .content {
                position: absolute;
                left: 10%;
                top: 20%;
                width: 500px;
                max-width: 80%;
                z-index: 1;
            }

    .image-banner{
        width:100%
    }
    .footer-web{
        height: 200px;
       
    }

    .footer-logo {
        height: 100%;
    }

    .logo-Royal{
        height: 80px;
    }

    .logo-Royal {
        height: 120px;
        width: 120px;
    }

    .logo-kipa{
        height: 120px;
        width: 120px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand me-auto" href="#">Kipa</a>
           
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2 active" aria-current="page" href="#">Về Kipa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="#">Chương trình du học</a>
                            </li>
                                <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="#">Đào tạo tiếng hàn</a>
                            </li>
                                <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="#">Visa</a>
                            </li>
                                <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="#">Liên hệ tư vấn</a>
                            </li>
                        </ul>
                    </div>
                </div>
                    <button class="multi-language-button ">
                        icon language
                    </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="slider-kipa-menu">
        <div class="list">
            <div class="item active">
                <img class="image-banner" src="~/Content/banner1.jpg">
                <div class="conntent">
                    <p>Du học KIPA</p>
                    <p>UY TÍN - CHẤT LƯỢNG </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class ="footer-web row">
            <div class ="footer-logo col-3">
                <div class="logo-Royal">
                    <img class="image-banner" src="~/Content/logo.jpg">
                 
                </div>
                <div class="logo-kipa">
                    <img class="image-banner" src="~/Content/logo.jpg">
                </div>
                </div>
                <div class="address-info col-5">
                <div class="info-address-vietnamsee">
                    <span>
                        Địa hiện tại: 8 Beonji, Sutong 1-gil, Buri-myeon, Geumsan-gun, Chungcheongnam-do
                        <span>
                            Địa hiện tại: 8 Beonji, Sutong 1-gil, Buri-myeon, Geumsan-gun, Chungcheongnam-do
                        </span>
                        <span>
                            Địa chỉ:số 20 Đồng Me - Mễ Trì -  Nam Từ Liên - Hà Nội
                        </span>
                        <span>
                            FAX :032-654-1256   E-MAIL : daehan@imperialhouse.kr
                        </span>
                        <span>
                            Chi nhánh: Sơn Tây, Phú Đô, Hoài Đức - Hà Nội , tỉnh Hải Dương
                        </span>
                        <span>
                            TEL : 042-543-8045
                        </span>
                         
                    </span>
                </div>
                <div class="info-address-korea">
                    <span>
                        Chi nhánh : Gyeonggi kết nối xã hội công dân toàn cầuư
                        </
                        <span>
                            Địa hiện tại: 2 Cheong, 147-31 Simgok-dong , Bucheon-si, Gyeonggi-do
                        </span>
                        <span>
                            TEL : 042-543-8045  FAX :032-654-1256
                        </span>
                </div>
                </div>
            <div class="col-4 info-social-network">
                Facebook
                </div>
        </div>

    </footer>
</body>
</html>
