@{
    ViewData["Title"] = "Về KIPA";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<style>
    .infomation-company{
        height: 80vh;
        background-color: #fff;
        padding: 40px 20px;
    }

    .title-company{
        color: #411C6B;
        font-size: 36px;
        font-weight: 500;
        display: flex;
        justify-content: center
    }

    .info-staff{
        height: 80vh;
        background-color: rgb(132 92 171 / 15%);
    }
</style>
<head>
</head>
<body>
    <div class="infomation-company">
        <div class="title-company">
            Công ty cổ phần giao lưu văn hóa Hoàng gia Hàn – Việt R&I
        </div>
        <div class="content-company row">
            <div class="des-company col-6">
                <div>TẠI SAO CHỌN KIPA ? </div>
                <div>THƯƠNG HIỆU UY TÍN</div>
                <span>KIPA với kinh nghiệm nhiều năm trong lĩnh vực đào tạo tiếng Hàn cho nhiều đối tác là doanh nghiệp Hàn Quốc cùng với sự am hiểu sâu sắc về môi trường doanh nghiệp Việt Nam và Hàn Quốc</span>
                <div>GIẢNG VIÊN CHUYÊN NGHIỆP</div>
                <span>Giáo viên có kinh nghiệm giảng dạy nhiều năm, được đào tạo bài bản, kỹ lưỡng, nhiệt tình, tâm huyết trong công việc giảng day. Đặc biệt, với sự chuẩn bị kỹ càng về mặt kiến thức cũng như giáo trình chúng tôi tin rằng có thể làm hài lòng tới tận người học khó tính nhất.</span>
                <div>CAM KẾT CHẤT LƯỢNG</div>
                <span>Cam kết chất lượng giáo dục tốt nhất đảm bảo đầu ra đúng với kỳ vọng.</span>
            </div>
            <div class="image-company col-6">
                <img class="img-logo-header" src="~/Content/company.jpg">
            </div>
        </div>
   </div>
    <div class="info-staff row">
        <div class="image-staff">
            <img class="img-logo-header" src="~/Content/company.jpg">
            <img class="img-logo-header" src="~/Content/company.jpg">
            <img class="img-logo-header" src="~/Content/company.jpg">
        </div>
        <div class="des-staff">
            <div class="col-4">
                <span>Mr. Lee Won</span>
                <span>Giám đốc Viện văn hóa Hoàng Gia</span>
                <span>Học vấn : Cử nhân Đại học Công nghệ New York  khoa truyền thông báo chí</span>
                <span>5/2012 – Chủ tịch Viện văn hóa quốc gia Hàn  Quốc</span>
                <span>2/2010 – Giám đốc Viện văn hóa Hoàng Gia </span>
            </div>
            <div class="col-4">
                <span>Choi Jae Hak</span>
                <span></span>
            </div>
            <div class="col-4">
            </div>
        </div>
     
    </div>
</body>