@{
    ViewData["Title"] = "Về KIPA";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<style>
    .infomation-company{
        height: 80vh;
        background-color: #fff;
        padding: 40px 20px;
    }

    .title-company{
        color: #411C6B;
        font-size: 36px;
        font-weight: 500;
        display: flex;
        justify-content: center
    }

    .info-staff{
        height: 80vh;
        background-color: rgb(132 92 171 / 15%);
    }

    .info-infrastructure{
        height: 80vh;
        background-color: rgb(132 92 171 / 15%);
        padding: 40px 20px;
    }
</style>
<head>
</head>
<body>
    <div class="infomation-company">
        <div class="title-company">
            Công ty cổ phần giao lưu văn hóa Hoàng gia Hàn – Việt R&I
        </div>
        <div class="content-company row">
            <div class="des-company col-6">
                <div>TẠI SAO CHỌN KIPA ? </div>
                <div>THƯƠNG HIỆU UY TÍN</div>
                <span>KIPA với kinh nghiệm nhiều năm trong lĩnh vực đào tạo tiếng Hàn cho nhiều đối tác là doanh nghiệp Hàn Quốc cùng với sự am hiểu sâu sắc về môi trường doanh nghiệp Việt Nam và Hàn Quốc</span>
                <div>GIẢNG VIÊN CHUYÊN NGHIỆP</div>
                <span>Giáo viên có kinh nghiệm giảng dạy nhiều năm, được đào tạo bài bản, kỹ lưỡng, nhiệt tình, tâm huyết trong công việc giảng day. Đặc biệt, với sự chuẩn bị kỹ càng về mặt kiến thức cũng như giáo trình chúng tôi tin rằng có thể làm hài lòng tới tận người học khó tính nhất.</span>
                <div>CAM KẾT CHẤT LƯỢNG</div>
                <span>Cam kết chất lượng giáo dục tốt nhất đảm bảo đầu ra đúng với kỳ vọng.</span>
            </div>
            <div class="image-company col-6">
                <img class="img-logo-header" src="~/Content/company.jpg">
            </div>
        </div>
   </div>
    <div class="info-staff row">
        <div class="title">ĐỘI NGŨ NHÂN SỰ </div>
        <div class="image-staff row">
            <img class="img-logo-header col-4" src="~/Content/LeeWon.jpg">
            <img class="img-logo-header col-4" src="~/Content/ChoiJaeHak.jpg">
            <img class="img-logo-header col-4" src="~/Content/ParkChangDeok.jpg">
        </div>
        <div class="des-staff row">
            <div class="col-4">
                <span>Mr. Lee Won</span>
                <span>Giám đốc Viện văn hóa Hoàng Gia</span>
                <span>Học vấn : Cử nhân Đại học Công nghệ New York  khoa truyền thông báo chí</span>
                <span>5/2012 – Chủ tịch Viện văn hóa quốc gia Hàn  Quốc</span>
                <span>2/2010 – Giám đốc Viện văn hóa Hoàng Gia </span>
            </div>
            <div class="col-4">
                <span>Choi Jae Hak</span>
                <span>Trình độ học vấn : ESC Reims (Grandes Ecoles – Trường quản  trị kinh doanh Pháp) , MBA</span>
                <span>Cử nhân đại học sư phạm đại học Seoul khoa tiéng Pháp</span>
                <span> 2008-2011 – Viện trưởng Viện nghiên cứu kinh tế NH</span>
                <span>1/1997-2007 – Phó ban Liên minh Hợp tác xã nông nghiệp</span>
            </div>
            <div class="col-4">
                <span>ParkChang Deok</span>
                <span>Trình độ học vấn :Cử nhân Đại học Inha khoa Đa văn hóa</span>
                <span> Chức vụ: Giám đốc hợp tác giao lưu quốc tế Hiệp hội chuyên  gia xã hội nhân dân Hàn Quốc</span>
                <span> 1/2020 -nay – Điều hành chương trình thích ứng cơ bản</span>
                <span> 1/2022-nay – Điều hành chương trình hòa nhập xã hội </span>
            </div>
        </div>
    </div>
    <div class="team-teachers">
        <div class="title">Đội Ngũ Thầy Cô chất lượng Việt - Hàn Tại KIPA</div>
        <div class="info-teacher row">
            <div class="card^-teachers col-4 ">
                <div class="col-6"><img class="img-logo-header col-4" src="~/Content/oanh.png"></div>
                <div class="col-6">
                    <div class="name-teacher">Đậu Thị Kiều Oanh</div>
                    <div>Trình độ học vấn : Khoa ngôn ngữ Hàn Quốc trường Việt Nhật</div>
                    <div>Level topik : 6</div>
                </div>
                <div class="col-12">Chức vụ: Hội viên KIPA Hà Nội, Nhà nghiên cứu R&I  Institute, Giảng viên tại VNJ, Giảng viên tại ISC VIET</div>
            </div>
        </div>

    </div>
    <div class="info-infrastructure">

    </div>
</body>